.intro-section {
    position: relative;
    background-image: url(../imagenes/fondo2.jpg);
    background-size: cover;
    background-position: center;
    color: #E5E5E5;
    text-align: center;
    filter: brightness(0.8); /* Filtro para oscurecer ligeramente */
    min-height: 95vh; /* Ocupa toda la altura visible del navegador */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease;
}

.intro-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease;
    color: black;
}

.intro-description {
    font-family: 'Open Sans', sans-serif;
    color: var(--blanco-suave);
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto 40px;
    line-height: 1.6;
    background-color: var(--gris-oscuro);
    border-radius: 25px;
    opacity: 0.8;
    padding: 40px;
}

.cta-button {
    font-family: var(--fuente-cinzel);
    background-color: #54e5ff;
    color: #0B0B0D;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 10px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0-2s;
}

.cta-button:hover {
    background-color: #1c1cff;
    color: #E5E5E5;
}

/* Animación de entrada */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
a{
    text-decoration: none;
    font-family: var(--fuente-cinzel);
}

.botones-internos {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 600px) {
    .botones-internos {
        flex-direction: row;
        justify-content: center;
    }
}